@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
} 

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
} 

.застежки_wrapper {
  max-width: 1100px;
  display: flex;
  gap: 40px;
}

.застежки_text h3 {
  font-size: 32px;
  line-height: 32px;
  padding-bottom: 6px;
}

.застежки_text p {
  font-size: 17px;
  line-height: 20px;
  color: rgba(122, 122, 122, 1);
  padding-bottom: 63px;
}

.застежки_text img {
  padding-left: 86px;
  padding-bottom: 80px;
}

.info {
  margin-left: 26px;
  margin-bottom: 40px;
}

.тип-3 p{
  padding-bottom: 40px;
}

.info li {
  color: rgba(122, 122, 122, 1);
}

.тип-3_cards {
  display: flex;
  flex-wrap: wrap;         
  align-items: stretch;
  gap: 3px;           
  margin-bottom: 39px;     
}


.тип-3_cards div {
  width: 200px;
  height: 79px;
  background-color: rgba(236, 236, 236, 1);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.тип-3_cards-2 {
  display: flex;
  flex-wrap: wrap;          
  gap: 16px;                
}

.тип-3_cards-2 div {
  width: 400px;
  border: 1px solid rgba(122, 122, 122, 1);
  border-radius: 20px;
}

.тип-3_cards-2 p {
  text-align: center;
  color: black;
}

.card1 p{
  padding-top: 31px;
}

.card1 img {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.производство {
  max-width: 341px;
}

.производство h3 {
  padding-bottom: 6px;
}

.ul_1  li{
  width: 181px;
  list-style: none;
  font-size: 12px;
  color: rgba(155, 81, 224, 1);
}

.ul_1 hr{
  margin-bottom: 12px;
  margin-top: 12px;
}

.ul_2 {
  padding-left: 25px;
  padding-bottom: 26px
  ;
}

.li1 {
  color: rgba(0, 179, 0, 1);
}

.ul_2 li::marker{
  color: rgba(0, 179, 0, 1);
}

.ul_2 li {
  font-size: 12px;
}

.ul_3 {
  margin-bottom: 80px;
}

.ul_3 h3 {
  font-size: 18px;
}

.ul_3 li{
  font-size: 12px;
  color: rgba(155, 81, 224, 1);;
}

.ul_3 hr {
  margin-bottom: 12px;
  margin-top: 12px;
}

.ohr {
  margin-bottom: 12px;
}

/* img {
  width: 250px; */
